k8s {
   namespace = 'acgt-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   launchDir = "/mnt/shared/test_s3sarek"
   publishDir = 's3://hynstoun/test'
   pullPolicy = 'IfNotPresent'
   workDir = '/mnt4'
   storageClaimName = 'pvc-acgt'
   storageMountPath = '/mnt'
}

executor {
   queueSize = 300
}

process {
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false], [env:'JAVA_OPTS', value:'-XX:ParallelGCThreads=4']]
   withName:MarkDuplicates {
      memory = '192 GB'
      cpus = 16
      time = '96.h'
   }
   withLabel:memory_max {
      time = '96.h'
      memory = {params.max_memory}
   }
   cpus = { 1      * task.attempt }
   memory = { 6.GB   * task.attempt }
   time = { 4.h    * task.attempt }
   errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'
   withLabel:error_ignore {
